<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 연결할 DB에 대한 정보를 설정하는 태그 / 1개 이상의 DB연결정보를 설정할 수 있다 -->
	<environments default="mybatis">
		<environment id="mybatis">
			<!-- 트렌젝션을 처리하는 방법 설정 -->
			<transactionManager type="JDBC"/>
			<!-- 
				데이터 연결에 필요한 정보를 등록하는 태그 
				1. 드라이버
				2. DB서버주소
				3. 사용계정
				4. 계정비밀번호
			-->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="mybatis"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 실행할 SQL문을 설정한 mapper를 등록 -->
	<mappers>
		<mapper resource="/mappers/student/student-mapper.xml"/>
	</mappers>
</configuration>